<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular App</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    
    <script src="myscript.js"></script>
  </head>
  <body ng-app="MyApp" ng-controller="MyCtrl">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Covid 19</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </nav>
    </header>
    <br />
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <div class="container">
      <div class="jumbotron py-3">
        <h1 class="text-center">{{title}}</h1>
       
        <!--   all data -->
        <div class="row text-center">
          <div class="col-md-4">
            <div class="card bg-warning text-white">
              <div class="card-body">
                <h3>New Confirmed Cases</h3>
                <h3>{{all_data.todayCases}}</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card bg-success text-white">
              <div class="card-body">
                <h3>New Recovered Cases</h3>
                <h3>{{all_data.todayRecovered}}</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-danger text-white">
              <div class="card-body">
                <h3>New Death Cases</h3>
                <h3>{{all_data.todayDeaths}}</h3>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row text-center">
          <div class="col-md-4">
            <div class="card bg-warning text-white">
              <div class="card-body">
                <h3>Total Confirmed Cases</h3>
                <h3>{{all_data.cases}}</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card bg-success text-white">
              <div class="card-body">
                <h3>Total Recovered Cases</h3>
                <h3>{{all_data.recovered}}</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-danger text-white">
              <div class="card-body">
                <h3>Total Death Cases</h3>
                <h3>{{all_data.deaths}}</h3>
              </div>
            </div>
          </div>
        </div>
        <!-- end all data -->

        <input
          type="text"
          class="form-control mt-4"
          placeholder="Enter country name here"
          ng-model="c"
          ng-change="get_c_data()"
        />
      </div>
      <br>

      <!-- c data -->
      <div class="jumbotron py-3" ng-if="c_data">
        <div class="container-fluid">
          <h1 class="text-center mt-4 text-uppercase">{{c}} STATUS</h1>
          <div class="row text-center mt-4">
            <div class="col-md-4">
              <div class="card bg-warning text-white">
                <div class="card-body">
                  <h3>New Confirmed Cases</h3>
                  <h3>{{c_data.todayCases}}</h3>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card bg-success text-white">
                <div class="card-body">
                  <h3>New Recovered Cases</h3>
                  <h3>{{c_data.todayRecovered}}</h3>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card bg-danger text-white">
                <div class="card-body">
                  <h3>New Death Cases</h3>
                  <h3>{{c_data.todayDeaths}}</h3>
                </div>
              </div>
            </div>
          </div>
          <br />
          <h2 class="text-center">Total Corona Case Details</h2>
          <div class="row text-center mt-4">
            <div class="col-md-4">
              <div class="card bg-warning text-white">
                <div class="card-body">
                  <h3>Total Confirmed Cases</h3>
                  <h3>{{c_data.cases}}</h3>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card bg-success text-white">
                <div class="card-body">
                  <h3>Total Recovered Cases</h3>
                  <h3>{{c_data.recovered}}</h3>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card bg-danger text-white">
                <div class="card-body">
                  <h3>Total Death Cases</h3>
                  <h3>{{c_data.deaths}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end c data -->
    </div>

    

    
  </body>
</html>
